version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    groups:
      androidx:
        patterns:
          - "androidx.*"
        update-types:
          - "minor"
          - "patch"
      compose:
        patterns:
          - "androidx.compose*"
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "deps"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
